@import "resets";
@import "utilities";
@import "common";

.container {
	@include flex(column, stretch, stretch);
}

.greetings {
	@include flex(row, space-between, center);
	font-size: 1.25rem;
	margin-top: 0.5em;
}

#email {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0.3em 0.5em;
	border-radius: 4px;
}

.chat {
	height: 100%;
	background-color: white;
	border: 2px solid black;
	padding: 0.5em;
	margin: 0.7em 0;
	overflow: auto;
	&::-webkit-scrollbar {
		width: 5px;
		&-thumb {
			background-color: gray;
		}
		&-track {
			background-color: white;
		}
	}
}

.message {
	font-size: 1.2rem;
	background-color: rgba(0, 0, 0, 0.5);
	width: fit-content;
	margin-bottom: 0.4em;
	padding: 0.3em 0.6em;
	border-radius: 5px;
	.message-content {
		color: white;
	}
}

.message-container {
	@include flex(row, stretch, center);
	height: 100px;
}

.message-area {
	height: 100%;
	width: 85%;
	margin-right: 0.8em;
	padding: 0.3em 0.4em;
	border: 0;
	border-radius: 4px;
	resize: none;
}

.message-button {
	width: 15%;
	min-width: 35px;
	min-height: 35px;
	border: 0;
	img {
		width: 100%;
	}
}
