@import "resets";
@import "utilities";

.container {
	@include centerAbsolute;
	@include size(95%, 95%);
	max-width: 350px;
	max-height: 500px;
	@include flex(column, stretch, stretch);
	background-color: lightgray;
	padding: 1em;
	border-radius: 8px;
}

.chat {
	height: 100%;
	background-color: lightblue;

	border: 1px solid black;
	padding: 0.5em;
	margin-bottom: 0.5em;
	overflow: auto;
	&::-webkit-scrollbar {
		width: 5px;
		&-thumb {
			background-color: gray;
		}
		&-track {
			background-color: white;
		}
	}
}

.message-container {
	@include flex(row, stretch, center);
	height: 100px;
}

.message-area {
	height: 100%;
	width: 85%;
	margin-right: 0.8em;
	padding: 0.3em 0.4em;
	border: 0;
	border-radius: 4px;
	resize: none;
}

.message-button {
	width: 15%;
	min-width: 35px;
	min-height: 35px;
	border: 0;
	img {
		width: 100%;
	}
}
